h1{
	color:yellow;
}
h3 {
	color: plum;
}
p{
	color:blue;
 	font-family:"arial narrow";
 	font-weight: 35px;
 	font-size: 17px;
}
.p2 {
	color:white;
}
#p3 {
	color:aqua;
}
li{
	color:green;
} 
body {
	background-color: purple;
}